:root {
  --darkLayout: #121212;
  --darkLayout2: #1e1e1e;
  --fontColor: #ededed;
  --selectedLayout: #303030;
  --selectedBorder: #5e5e5e;
  --primaryColor: #ff8f1f;
}

body {
  margin: 0%;
  background-color: var(--darkLayout);
  color: var(--fontColor);
}

body.adm-overflow-hidden {
  overflow: visible !important;
}
